@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap');

body {
    font-family: 'Monda', sans-serif;
    text-align: left;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bungee', cursive;
    margin: 0;
    color: #23794d;
}

footer {
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.block-custom {
    font-family: 'Monda', sans-serif;
    flex: 1;
}

.block-custom a {
    color: #23794d;
}

.block-custom a:hover {
    color: #20c66b;
}


.btn-primary, .btn-primary:active, .btn-primary:visited {
    color: #fff !important;
    background-color: #23794d !important;
    border-color: #23794d !important;
    border: solid 0px !important;
}

.btn-primary:hover {
    background-color: #20c66b !important;
}

.btn-secondary {
    color: #fff !important;
}

.btn-danger {
    color: #fff !important;
}

.brand-text {
    font-family: 'Vina Sans', sans-serif;
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: #23794d;
}

.jumbotron {
    background-color: transparent;
    border-bottom: 4px solid #23794d;
    border-radius: 0;
}

.brand-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.nav-link {
    font-family: 'Vina Sans', sans-serif;
    font-size: 1.6rem;
}

.nav-link:hover {
    color: #23794d !important;
}

.nav-link p {
    margin: 0;
}

.navbar-toggler {
    min-width: 60px;
}

.navbar-toggler:hover {
    background-color: #23794d !important;
}

.submit-container {
    margin-top: 30px;
}

.small-text {
    font-size: 0.8rem;
}

.article-title {
    font-family: 'Bungee', cursive;
}

.article-description {
    font-family: 'Monda', cursive;
}

.article-price {
    font-family: 'Bungee', cursive;
}

.copyright-block {
    display: block;
    height: 100%;
}

.copyright-text {
    position: relative;
    top: 25%
}

.chart-count-container {
    position: absolute;
    z-index: 1;
    background-color: rgba(183,4, 4, 0.7);
    border-radius: 100%;
    width: 1.8rem;
    height: 1.8rem;
    transform: translate(20px, -40px);

}

.chart-count {
    font-family: 'Monda', sans-serif;
    color: #fff;
    font-size: 1rem;
    text-align: center;
    margin-top: 0.4rem !important;
}