@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

body {
    font-family: 'Vina Sans', sans-serif;
    text-align: left
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
}

.brand-text {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
    color: #23794d;
}

.brand-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
}

.nav-link {
    font-size: 1.8rem;
}

.submit-container {
    margin-top: 30px;
}

.small-text {
    font-size: 0.8rem;
}

.copyright-block {
    display: block;
    height: 100%;
}

.copyright-text {
    position: relative;
    top: 25%
}