<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">

    {% block styles %}
    <!-- Bootstrap CSS -->
    {{ bootstrap.load_css() }}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap"
          rel="stylesheet">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% endblock %}


    <!-- Fontawesome Icons -->
    <script src="https://kit.fontawesome.com/3a2cd2fac7.js" crossorigin="anonymous"></script>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32"
          href="{{ url_for('static', filename='favicon/favicon-32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16"
          href="{{ url_for('static', filename='favicon/favicon-16.png') }}">
    <link rel="icon" type="image/png" sizes="96x96"
          href="{{ url_for('static', filename='favicon/favicon-96.png') }}">

    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
{% block bgimage %}{% endblock %}

<nav class="navbar navbar-expand nav-custom navbar-light bg-light justify-content-between">
    <ul class="navbar-nav">
        <a class="navbar-brand" href="{{ url_for('home') }}">
            <img class="brand-img" src="{{ url_for('static', filename='favicon/favicon-96.png') }}" alt="ShirtBase">
            <p class="brand-text">ShirtBase</p>
        </a>
        <div style="width: 2rem;"></div>
        {% if current_user.is_authenticated %}
            {% if current_user.is_admin %}
            <li class="nav-item my-auto mx-1">
                <a class="nav-link text-center" href="{{ url_for('users') }}">Users</a>
            </li>
            <li class="nav-item my-auto mx-1">
                <a class="nav-link text-center" href="{{ url_for('new_article') }}">New Article</a>
            </li>
            {% endif %}
        <li class="nav-item my-auto mx-1">
            <a class="nav-link text-center" href="{{ url_for('reset_password') }}">Passwort ändern</a>
        </li>
        {% else %}
        <li class="nav-item my-auto mx-1">
            <a class="nav-link text-center" href="{{ url_for('register') }}">Register</a>
        </li>
        {% endif %}

    </ul>
    <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
        <li class="nav-item my-auto mx-1">
            <a class="nav-link text-center" href="{{ url_for('profile') }}">
                <i class="fa-solid fa-user"></i>
            </a>
        </li>
        <li class="nav-item my-auto mx-1">
            <a class="nav-link text-center" href="{{ url_for('logout') }}">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>
        </li>
        {% else %}
        <li class="nav-item my-auto mx-1">
            <a class="nav-link text-center" href="{{ url_for('login') }}">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
            </a>
        </li>
        {% endif %}
        <li class="nav-item my-auto mx-1">
            <a class="nav-link text-center" href="{{ url_for('checkout') }}">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </li>
    </ul>
</nav>

<div class="block-content block-custom text-center text-lg-start mb-4">
    {% block content %}{% endblock %}
</div>
<div style="height: 100px;"></div>
<footer class="text-center text-lg-start bg-light text-muted">
<!--    <div class="social-icons">
        <i class="social-icon fa-brands fa-facebook-f fa-lg"></i>
        <i class="social-icon fa-brands fa-instagram fa-lg"></i>
        <i class="social-icon fa-brands fa-linkedin fa-lg"></i>
        <i class="social-icon fa-brands fa-xing fa-lg"></i>
    </div>-->
    <div class="copyright-block"><p class="copyright-text">© 2023 Eddy Wi</p></div>
</footer>

{% block scripts %}
<!-- Optional JavaScript -->
{{ bootstrap.load_js() }}

<!-- Custom JS -->
<script language="JavaScript" type="text/javascript"
        src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
</body>
</html>